{% extends 'base.html' %}


{% block title %}
    Book List
{% endblock title %}
    


{% block body %}
    
<div class="col-6 m-auto bg-secondary rounded p-3">
    <div class="col-10 p-3 bg-dark text-light rounded m-auto">
        <!-- For Img IN leter -->
        <h1 class="text-center">{{ book.title }}</h1>
        <hr>
        <div class="d-flex justify-content-between">
            <span class="badge bg-secondary">
                {{ book.author }}
            </span>
            <span class="badge bg-success">
                {{ book.price }} $
            </span>
        </div>
        <div class="mt-2">
            <a href="#" class="col-12 btn btn-primary">Buy</a>
        </div>
    </div>
</div>

<div class="col-8 m-auto mt-5 bg-black p-5">
    <h2>Reviews</h2>

    <hr>
    {% for review in book.all_reviews %}
        <small>{{ review.author }}</small>
        <p>{{ review.review }}</p>

        {% if review in user.review_like.all %}
        <a href="{% url 'book:review-like' %}?stat=unlike&pk={{review.pk}}" class="btn btn-danger">{{ review.count_like }} Like</a>
        {% else %}
        <a href="{% url 'book:review-like' %}?stat=like&pk={{review.pk}}" class="btn btn-success">{{ review.count_like }} Like</a>
        {% endif %}
        <hr>
    {% endfor %}
        
</div>
{% endblock body %}
    